<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">

    <classes>
      <class name="com.tbs.shoptouch.test.Login"/>
<class name="com.tbs.shoptouch.test.ItemMenuClassFamily"/>

   <class name="com.tbs.shoptouch.test.Barcodetestcases"/>
      <class name="com.tbs.shoptouch.test.Releasetestcases"/>
      <class name="com.tbs.shoptouch.utilities.Baseclass"/>
    </classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
 

 