<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscript.Login"/>

       <class name="testscript.User"/>


     <!--  <class name="testscript.Mainmenu"/> -->
       <class name="testscript.Submenu"/>
      <!-- <class name="testscript.Itemmaskcode"/> -->
      <!-- <class name="testscript.Itemclass"/>
      <class name="testscript.Itemfamily"/> -->

       <class name="testscript.Subcards"/>

    
      <!-- <class name="testscript.Itemfamily"/>
      <class name="testscript.Userrole"/>
      <class name="testscript.Itemclass"/>
        <class name="testscript.Subcards"/>
      <class name="testscript.Notes"/>
      <class name="testscript.Units"/>
      <class name="testscript.Unitchain"/> -->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

